
/* 
 Estilos GENERALES FORMULARIOS de INPUT, LABEL, SELECT, OPTION, CHECKBOX, TEXTAREA, etc. 
--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL
--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL
--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL
> #BuscadorFiltroAlertasForm			
> #siscribirmeNewsletter
> #formContacto
> #formCrearAlerta

Primero "todos los input text y date i"
Segundo "todos los input date"
Tercero "todos los buttons"
Cuarto "todos los input textarea"
Quinto "todos los label"
 */

form#formIniciarSesion input[type="text"],
form#formIniciarSesion input[type="password"],
form#formCrearCuenta input[type="text"],
form#formCrearCuenta input[type="password"],
form#BuscadorFiltroAlertasForm input[type="text"],
form#BuscadorFiltroAlertasForm select,
form#BuscadorFiltroAlertasForm option,
form#BuscadorFiltroAlertasForm input[type="date" i],
form#suscribirmeNewsletter input[type="text"],
form#suscribirmeNewsletter select,
form#suscribirmeNewsletter option,
form#suscribirmeNewsletter input[type="date" i],
form#formContacto input[type="text"],
form#formContacto select,
form#formContacto option,
form#formContacto input[type="date" i],
form#formCrearAlerta input[type="text"],
form#formCrearAlerta select,
form#formCrearAlerta option,
form#formCrearAlerta input[type="date" i] {
  text-rendering: auto;
  color:$color-gris-oscuro;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: block;
  text-align: start;
  appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  $color-blanco-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: $color-blanco;
  cursor: pointer;
  width: 100%;
  margin: 0.5em 0;
  font: 400 16px inherit;
  font-family: 'Roboto', sans-serif;
  padding: 8px 15px;
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: $color-gris-claro;
  border-image: initial; }

form#BuscadorFiltroAlertasForm input[type="date"],
form#suscribirmeNewsletter input[type="date"],
form#formContacto input[type="date"],
form#formCrearAlerta input[type="date"] {
  align-items: center;
  display: -webkit-inline-flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-inline-start: 1px;
  cursor: default;
  overflow: hidden;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 40px;
  border: 1px solid $color-gris-claro;
  color: $color-negro; }

form#BuscadorFiltroAlertasForm button,
form#suscribirmeNewsletter button,
form#formContacto button,
form#formCrearAlerta button,
form#formCrearAlerta input[type="file"] {
  font-size: 16px;
  color: $color-gris-muyclaro;
  border-radius: 24px;
  margin: 0px;
  padding: 10px 25px;
  background: $color-secundario;
  box-shadow: 0px 4px 0px $color-primario;
  border: none; 
  transition: .3s ease all;
  
  &:hover{
    color: $color-secundario;
    background: $color-gris-oscuro;
    box-shadow: 0px 4px 0px $color-gris-muyoscuro;
  }

}


form#formCrearAlerta input[type="file"]{
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}


form#BuscadorFiltroAlertasForm textarea,
form#suscribirmeNewsletter textarea,
form#formContacto textarea,
form#formCrearAlerta textarea {
  font-size: 16px;
  color:$color-gris-muyoscuro;
  border-radius: 24px;
  margin: 20px 0;
  width: 100%;
  min-height: 340px;
  padding: 8px 15px;
  background: $color-blanco;
  border: none; }

form#formCrearAlerta textarea {
  min-height: 185px;
}

form#BuscadorFiltroAlertasForm label,
form#suscribirmeNewsletter label,
form#formContacto label,
form#formCrearAlerta label {
  margin-bottom: 0rem;
  padding-left:8px;
	color: $color-primario;
  font-weight: 700;
  cursor: pointer;
  transition: .3s ease all;

  body.dark &{
    color: $color-secundario;

  }
}



.custom-control-label:before{
  background-color:$color-gris-muyclaro;
  width: 24px;
  height: 24px;
  margin: -5px 30px 0 0 ;
}
.custom-control-input:checked~.custom-control-label::before{
  border-color:$color-primario;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before, 
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:$color-secundario;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after{
  background-image:url("../img/pawprint.svg");
  margin-left: -3px;
  margin-top: -8px;
  width: 30px;
  height: 30px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  margin-left: -3px;
  margin-top: -8px;
  width: 30px;
  height: 30px;
}
