@charset "UTF-8";

/*
ATAJOS Y DATOS ÚTILES EN EL PROCESO DE DESARROLLO
Estos comentarios son generales del archivo style.scss

Comando para empezar a correr SASS
$ npm run watch-css


$ cd /Users/MiUsuarioEnMac/Desktop/github_folder
$ git clone https://github.com/juancadh/basicoding.git
$ cd basicoding
$ git status
$ git add "prueba.txt"
$ git commit -m "Enviando el archivo de prueba"
$ git remote -v
$ git push origin master


------ MEDIA QUERIES ------
>> SE DEFINEN LOS MEDIA QUERIES AL FINAL DE CADA CONJUNTO DE ESTILOS: 
Globales, Sliders, Forms, GrillaAlertas, 
Nosotros, Contacto, CrearAlerta, Donar, Footer. 

Medidas habituales de dispositivos:
> 320px // pantallas pequeñas, como los teléfonos en modo vertical.
> 480px // pantallas pequeñas, como los teléfonos, en modo horizontal
> 600px // Tabletas pequeñas, Kindle (600×800) y Barnes & Noble Nook (600×1024), en modo vertical
> 768px // Tabletas de diez pulgadas como el iPad (768×1024), en modo vertical
> 1024px // Tabletas como el iPad (1024×768), en modo horizontal, también algunas pantallas de ordenador portátil, netbook, y de escritorio
> 1200px // Pantallas panorámicas, portátiles y escritorio.

*/

/* PALETA DE COLORES DEL PROYECTO */
$color-primario: #e9402e;
$color-secundario:#ff9800;
$color-gris-muyoscuro:#32203c;
$color-gris-oscuro:#3c2348;
$color-gris-medio:#77498c;
$color-gris-claro:#cccccc;
$color-gris-muyclaro:#f5f5f5;
$color-blanco:#ffffff;
$color-negro:#14091a;

$anchoGlobal:1140px;

$sombraLight: 0px 0px 16px rgba(0, 0, 0, .25);
$sombraDark: 0px 0px 16px rgba(255, 255, 255, .1);


/*
Empiezas los estilos General y Globales a todo el sitio web
--- GENERALES ------ GENERALES ------ GENERALES ---
--- GENERALES ------ GENERALES ------ GENERALES ---
--- GENERALES ------ GENERALES ------ GENERALES ---
> import fonts
> html, body, a, button...
> header, nav, menu, ul li a a:hvoer.
> header .logo h1  
> header topNav ul li
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*::selection {
  background-color:$color-gris-oscuro;
  color: $color-blanco;
}

*::-moz-selection {
  background-color:$color-gris-oscuro;
  color: $color-blanco;
}

body.dark *::selection{
  background-color:$color-secundario;
  color:$color-negro;
}
body.dark *::-moz-selection{
  background-color:$color-secundario;
  color:$color-negro;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px; }

html {
  font-size: 100%;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0; }

body {
  background-color: $color-gris-muyclaro;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: $color-gris-medio;
  margin: 0;
  padding: 0; 
  transition: .3s ease all;
  &.dark{
    background: $color-negro;
  }  
}

h1, h2, h3, h4, h5, h6 {
  color: $color-negro;
  font-family: 'Quicksand', sans-serif; 
  font-weight: 500;
}

h1 {
  font-size: 2rem; }

h4 {
  font-size: 1.3rem; }

a, button {
  text-decoration: none;
  color: $color-gris-medio;
  cursor: pointer;
    
  &:hover {
    text-decoration: none;
    color: $color-secundario; }
}
 
header {
  width: 100%;
  margin: 0;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, .9);
  position: fixed;
  box-shadow: $sombraLight;
  z-index: 999;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;

  nav {
    position: absolute;
    right: 0;
    top: 0;
    
    &.navbar{
      padding: 3rem 0 .5rem 0;
      max-width: $anchoGlobal;
      margin: 0 auto;

      div.topNav {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        ul {
          margin: 0;
          padding: 0; 
          float: right;
          li {
            margin: 0;
            padding: 0; 
            display: inline-block;
            list-style: none;
          }
        }
        a {
          margin: 0;
          padding: 8px 12px;
          border-radius: 0px 0px 10px 10px;
          background-color: $color-gris-muyclaro;
          color:$color-negro;
          font-size: 12px; 
          transition: .3s ease all;

          &:hover {
            background-color:$color-gris-muyoscuro;
            color: $color-blanco; }
        }
        
      }

    }

    ul.navbar-nav {

      li.nav-item{
        margin:0 6px;

        &:last-child a.nav-link {
          background-color: $color-primario;
          color:$color-blanco; 
        
          &:hover,&.active{
            background-color:$color-secundario;
            color:$color-negro; 
          }
        }

        a.nav-link {
          margin: 0;
          padding: 8px 20px;
          border-radius: 24px;
          background-color:$color-blanco;
          color:$color-gris-muyoscuro;
          font-size: 13px;
          letter-spacing: .1rem;
          text-transform: uppercase;
          transition: .3s ease all;
          text-align: center;

          &:hover,&.active{
          color: $color-secundario;
          background-color: $color-gris-oscuro;
        }

      }

    }

  }
}


  h1#logo {
    text-shadow: 1px 1px 0px $color-secundario;
    color:$color-primario; 
    font-size: 1.8rem;
    padding: 0 0;
    body.dark &{
      text-shadow: 1px 1px 0px $color-primario;
      color:$color-secundario; 
    }


  }


  body.dark &{
    background-color: rgba(50, 32, 60,.9);
    box-shadow: $sombraDark;

    nav .navbar-nav .nav-item a.nav-link{
      color: $color-blanco;
      background-color: $color-gris-oscuro;
      &:hover, &.active{
        color: $color-primario;
        background-color: $color-blanco;
      }
    }

    nav.navbar div.topNav a {
      color: $color-blanco;
      background-color: $color-gris-oscuro;

      &:hover{
        color: $color-negro;
        background-color: $color-blanco;
      }
    }

  }

  

}


/*  PERSONALIZADO DE ICONO MENU MOBILE */
.navbar-toggler-icon i{
	font-size: 24px;
	color:$color-primario;
	text-shadow: 1px 1px 0px $color-secundario;
	transition: .3s ease all;
}

.navbar-toggler:hover .navbar-toggler-icon i, 
.navbar-toggler:focus .navbar-toggler-icon i{
	color:$color-blanco;
}
.navbar-toggler{
	padding-top: 8px;
	border-radius: 32px;
	transition: .3s ease all;
}
.navbar-toggler:hover, .navbar-toggler:focus{
	background-color:$color-primario;

}
   


/*  SWITCH de Modo Light y Dark*/
.switch{
  background: #233c69;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  margin-top: 8px;

  &::after{
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background: $color-gris-muyclaro;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
  }

  &.active{
    color: $color-negro;
    background-color: $color-secundario;
    
    &::after{
      right: 0;
      left: unset;
    }

  }

  span{
    width: 22px;
    height: 23px;
    line-height: 24px;
    display: block;
    background-color: none;
    color: $color-blanco;
  }

}


@media only screen and (max-width: 1024px) {
 
	h1#logo {
    font-size: 24px;
    margin-bottom: 0.09rem;
  }

	header nav ul.navbar-nav li.nav-item{
		margin: 8px;
  }

  .navbar-brand{
    margin-right: 0rem;

  }
  
}



/*
Empiezan los estilos de la sección:
--- SLIDER de c/ Página ------ SLIDER de c/ Página ------ SLIDER de c/ Página ---
--- SLIDER de c/ Página ------ SLIDER de c/ Página ------ SLIDER de c/ Página --- 
- Slider de páginas, tamaños, FLEX o GRID o BOOTSTRAP ?????
- Cambio de imagen Background para cada página del sitio, 
asignandoles un ID al body del HTML de cada página.
- Además el slider siempre contendrá el H1 de cada página
*/
.slider {
  height: 78vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  box-shadow: inset 0px -20px 20px rgba(0,0,0,0.4);

  
    h1 {
      background: rgba(255, 255, 255, 0.75);
      margin: 11rem 32px;
      padding: 16px 32px;
      border-radius: 24px; 
      font-size: 32px;
      font-weight: 700;
      text-align:center; 
      color: $color-gris-oscuro;
      box-shadow: 0 0 5px rgba(0,0,0,0.4);
      display: block;
      strong a{
        cursor: pointer;
      }
    }
 

}
 
@each $page-slider in page-buscador, page-perdidas, page-encontradas, page-nosotros, page-contacto, page-crearalerta {
  body.#{$page-slider} .slider {
    background-image: url('../img/bkg-#{$page-slider}.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
  }
}

 
@media only screen and (max-width: 1024px) {
	.slider h1 {
		font-size: 24px;
	  }
}
@media only screen and (max-width: 768px) {

	.slider{
    height: 70vh;
    background-size: unset;
    h1 {
    font-size: 20px;
    margin: 7rem 32px;
    }
  }
  @each $page-slider in page-buscador {
    body.#{$page-slider} .slider {
      background-image: url('../img/bkg-#{$page-slider}-mobile.jpg');
    }
  }
}
@media only screen and (max-width: 768px) {
  .slider{
    height: 95vh;}
}
/*
Estilos de GRILLA "Alertas" en HOME,PERDIDAS y ENCONTRADAS: 
--- Grilla ALERTAS ------ Grilla ALERTAS ------ Grilla ALERTAS ---
--- Grilla ALERTAS ------ Grilla ALERTAS ------ Grilla ALERTAS ---
--- Grilla ALERTAS ------ Grilla ALERTAS ------ Grilla ALERTAS ---
GRID - GRILLA de las "Alertas" .grillaCards
GRID - CARDS de las "Alertas" .card
*/

.grillaCards {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 24.075%);
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  justify-items: stretch;
  align-items: center;
  margin: 80px auto 0 auto;
}

.card {
  padding: 20px;
  border-radius: 24px;
  border:none;
  background-color: $color-gris-muyclaro;
  box-shadow: $sombraLight; 
  transition: .4s ease all;
  
  &:hover{
    transform: scale(1.075);
    background-color:$color-gris-muyoscuro;
    color: $color-blanco;
  }
  &:hover table tr td:last-child{
    color:$color-blanco;
  }
  

  a.verAlerta {
 
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 24px;
    background-color: $color-gris-claro;
    color: $color-gris-muyoscuro;
    border: none;
    text-align: center;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .05rem;
    transition: .3s ease all;
  
    &:hover {
      background-color:$color-secundario;
      color: $color-negro;
      border: none; }
  }

  table {
    margin: 17rem 0 16px 8px;
    font-size: 15px;
    position: relative;

    tr {
      td {
      padding: 5px; 
        i{
          font-size: 18px;
        }
      }
      &:last-child td:last-child{
        font-size:14px;
      }
    }

    tr td:first-child{
      text-align: center;}
    
    tr td:last-child {
      font-weight: 500;
      color:$color-gris-oscuro; }
  }

  body.dark &{
    background-color: $color-gris-muyoscuro;
    box-shadow: $sombraDark;
    color: $color-blanco;

    &:hover{
      background-color:$color-blanco;
      color: $color-negro;
    }
    &:hover table tr td:first-child{
      color:$color-gris-oscuro;
    }

    &:hover table tr td:last-child{
      color:$color-negro;
    }

    table tr td:first-child{
      color: $color-gris-claro;
    }

    table tr td:last-child{
      color: $color-blanco;
    }
    a.verAlerta{
      background-color: $color-negro;
      color: $color-gris-muyclaro;

      &:hover{
        background-color:$color-secundario;
        color: $color-negro;
      }
    }
  }

}

.AlertaImg {
  width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	background: center url("../img/alerta-img-default.png") no-repeat;
	background-size: cover;
	border-radius: 24px 24px 0 0 ;
	overflow: hidden; 
	position: absolute;
  top: 0;
  left: 0;

  div.tag-encontrado, 
  div.tag-perdido {
    margin: 0;
    padding: 8px 16px;
    color:$color-blanco;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .05rem;
    position: absolute;
    left: 0;
    top:0;
    z-index: 998;
  }

  div.tag-gato,
  div.tag-perro {
    padding: 8px 16px;
    color:$color-blanco;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .05rem;
    position: absolute;
    right: 0;
    top:0;
    z-index: 998;
  }

}


.AlertaImg div.tag-perdido {
  background-color: $color-gris-oscuro;
  border-radius: 0px 0px 8px 0px; }

.AlertaImg div.tag-encontrado {
background-color:$color-gris-muyoscuro;
border-radius: 0px 0px 8px 0px; }

.AlertaImg div.tag-gato {
background-color: $color-secundario;
border-radius: 0px 0px 0px 8px; }

.AlertaImg div.tag-perro {
background-color: $color-primario;
border-radius: 0px 0px 0px 8px; }



@media only screen and (max-width: 1198px) {
  .card table {
    margin: 14rem 0 16px 8px;
  }
}

@media only screen and (max-width: 1024px) {
  .grillaCards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 32%);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: stretch;
    align-items: center; 
  } 

  .card table {
    margin: 19rem 0 16px 8px;
  }
}

@media only screen and (max-width: 992px) {
  .card table {
    margin: 14rem 0 16px 8px;
  }
}

@media only screen and (max-width: 768px) {
  .grillaCards {
    grid-template-columns: repeat(2, 48%); 
    }

  .card table {
    margin: 15rem 0 16px 8px;
  }
}

@media only screen and (max-width: 564px) {
  .grillaCards {
    grid-template-columns: repeat(1, 100%); 
    margin: 80px 15px 0 15px;
  } 

  .card table {
    margin: 115% 0 16px 8px;
  }
 
  .card:hover{
    transform: scale(1.05);
  }

}
 


/* 
 Estilos GENERALES FORMULARIOS de INPUT, LABEL, SELECT, OPTION, CHECKBOX, TEXTAREA, etc. 
--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL
--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL
--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL--- FORMULARIOS en GENERAL

IMPORTAMOS el SCSS "_elemts-form.scss"

> #BuscadorFiltroAlertasForm			
> #siscribirmeNewsletter
> #formContacto
> #formCrearAlerta

*/

 @import 'elements-forms';



/*
Empiezan los estilos del BUSCADOR-FILTRO-ALERTAS
--- BUSCADOR-FILTRO-ALERTAS --- BUSCADOR-FILTRO-ALERTAS --- BUSCADOR-FILTRO-ALERTAS
--- BUSCADOR-FILTRO-ALERTAS --- BUSCADOR-FILTRO-ALERTAS --- BUSCADOR-FILTRO-ALERTAS
--- BUSCADOR-FILTRO-ALERTAS --- BUSCADOR-FILTRO-ALERTAS --- BUSCADOR-FILTRO-ALERTAS

- Contenedor: Buscador y Filtro de Grilla - class .BuscadorFiltroAlertasWrap
- Formularios: 
#BuscadorFiltroAlertasForm
#suscribirmeNewsletter
#formCrearAlerta
#formContacto

button, input
input[type="text"]
input[type="file"]
input[type="radio"], input[type="checkbox"]
input, button, select, optgroup, textarea

*/
 

.BuscadorFiltroAlertasWrap {
  width: 100%;
  margin: -56px auto 30px auto;
  padding: 16px 8px;
  border-radius: 24px;
  background-color:$color-negro;
  box-shadow: $sombraLight;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: $color-blanco; 
    display: inline-flex;
  }

  h3 {
    color: $color-gris-medio;
    display: inline-block;
    margin: 0; 
  }

  a {
    border-radius: 24px;
    padding: 8px 24px;
    margin: 8px 0;
    background: $color-gris-oscuro;
    color:$color-blanco;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif; 
    text-transform: uppercase;

      &:hover, &.active {
        background: $color-gris-muyoscuro;
        color: $color-blanco; }
  }

  ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-bottom: .5rem;
    display: inline-flex;
    li {
      margin: 0 8px;
      display: inline-flex;
    }
  }
  
  body.dark &{
    background-color:$color-blanco;
    box-shadow: $sombraDark;
    
    h2{
      color: $color-negro;
    }
    h3{
      color: $color-gris-medio;
    }
    a {
      background-color: $color-gris-claro;
      color: $color-negro;

      &:hover, &.active {
        background: $color-gris-muyclaro;
        color: $color-negro; }
      
      
    }
  
  }
}


form#BuscadorFiltroAlertasForm {
  margin-right: 0px;
  margin-left: 0px;
  background-color:$color-gris-muyoscuro;
  border-radius: 16px;
  padding: 16px;

  hr {
    width: 100%;
    height: 1px;
    margin: 0px auto;
    padding: 0; 
    background-color:$color-negro;
  }

  div {
    padding: 0;
    display: inline-block;
    text-align: center; 
  }

  input {
    display: inline-block;
    font-size: 16px;
    color: $color-gris-muyclaro;
    border-radius: 24px;
    margin: 0px;
    padding: 8px 16px; 
  }

  select {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: $color-gris-muyoscuro;
    border-radius: 24px;
    margin: 10px 0px;
    padding: 10px 15px; 
  }

  button {
    font-size: 16px;
    color: $color-gris-muyclaro;
    border-radius: 24px; 
    padding: 10px 40px;
    background: $color-secundario;
    border: none; 
  }

  body.dark &{
    background-color:$color-gris-muyclaro;

    hr{
      background-color:$color-blanco;
    }
  }

}


 /*
Empiezan los estilos de la seccion
--- PAGINACION ------ PAGINACION ------ PAGINACION ---
--- PAGINACION ------ PAGINACION ------ PAGINACION ---
--- PAGINACION ------ PAGINACION ------ PAGINACION ---
*/

.paginacion {
  margin: 60px auto 0 auto;
  text-align: center; 

  ul {
    margin: 20px auto; 
    padding-inline-start: 0px;
    li {
      display: inline-block; 
      margin:8px;

      a {
        font-size: 16px;
        font-weight: normal;
        padding: 8px 16px;
        border-radius: 24px;
        background-color: $color-gris-claro;
        color: $color-gris-muyoscuro;
        border: none; 
        &:hover {
          background-color: $color-gris-oscuro;
          color: $color-blanco; }
        &.active {
          background-color:$color-gris-muyoscuro;
          color: $color-blanco; }
      }

    }

  }
  
  body.dark & ul li a{
    background-color: $color-gris-claro;
    color: $color-gris-muyoscuro;
    &:hover {
      background-color: $color-gris-muyoscuro;
      color: $color-blanco; }
    &.active {
      background-color:$color-gris-muyoscuro;
      color: $color-blanco; }
  }
}
 

/*MEDIA QUERIES de - BuscadorFiltroAlertas, etc.*/
@media only screen and (max-width: 1024px) {

	.BuscadorFiltroAlertasWrap h2 {
		margin: 0 0 30px 0;
		font-size: 24px;
		font-weight: normal;
	} 

}

@media only screen and (max-width: 564px) {
  
  .BuscadorFiltroAlertasWrap ul {
    display: list-item;
  }
  .BuscadorFiltroAlertasWrap a{
    font-size: 14px;
    padding: 8px 16px;
  }

}

/*
Empiezan los estilos de la seccion
--- ¿Donar? ------ ¿Donar? ------ ¿Donar? ---
--- ¿Donar? ------ ¿Donar? ------ ¿Donar? ---
--- ¿Donar? ------ ¿Donar? ------ ¿Donar? ---
--- ¿Donar? ------ ¿Donar? ------ ¿Donar? ---
Esta seccion se repetira en todas las páginas, 
y siempre estará ubicada dentro del HTML antes del FOOTER.
>>>> Tendrá un BOTON a Mercado Pago para donar
*/
.queresDonar {
  text-align: center;
  background: url("../img/tramaHuellas.jpg") repeat top left fixed;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  margin: 80px 0;
  padding: 80px 25%;
  height: 550px; 

  h2 {
    margin: 0 auto;
    font-weight: normal;
    font-family: 'Quicksand';
    font-weight: normal;
    color: $color-primario; 

  }

  p {
    text-align: center;
    font-size: 22px;
    color: $color-gris-medio;

      a{
        color:$color-gris-muyoscuro;
        font-weight: 600;
      }
  }

  a.btnDonar {
    border-radius: 40px;
    padding: 20px 40px;
    margin: 0 auto;
    font-size: 22px;
    border: none;
    box-shadow: 4px 4px 0px $color-primario;
    background-color: $color-secundario;
    color: $color-blanco;
    font-family: 'Quicksand';
    font-weight: normal;
    transition: .6s ease all;
    cursor: pointer; 

    &:hover {
      box-shadow: 4px 4px 0px $color-gris-oscuro;
      background-color: $color-gris-medio;
      color: $color-blanco; }
      
  }

  body.dark &{
    background: url("../img/tramaHuellas-dark.jpg") repeat top left fixed;
    background-color: rgba(0, 0, 0, 0.8);
    
    h2{
      color: $color-secundario; 
    }
    p {
      color: $color-gris-claro;
      a{
      color:$color-gris-muyclaro;
      }
    }
    a.btnDonar {
      box-shadow: 4px 4px 0px $color-secundario;
      background-color: $color-primario;
      color: $color-blanco;
      &:hover{
        box-shadow: 4px 4px 0px $color-gris-muyoscuro;
        background-color: $color-gris-oscuro;
        color: $color-primario;
      }
    }
  }
  
}
 

@media only screen and (max-width: 768px) {

  .queresDonar {
    padding: 80px 6%;
    height: 640px; }
  .queresDonar a.btnDonar {
    font-size: 18px;
    padding: 10px 20px; }
  .queresDonar p {
    font-size: 22px; }
}

@media only screen and (max-width: 480px) {
 
  .queresDonar {
	height: 840px; } 

}


/*
Empiezan los estilos de la seccion
--- FOOTER ------ FOOTER ------ FOOTER ---
--- FOOTER ------ FOOTER ------ FOOTER ---
--- FOOTER ------ FOOTER ------ FOOTER ---
- Menú Principal (Inicio, Perdidas, Encontradas, Nosotros, Contacto, Crear Alerta)
- Listado personalizado para 4 Redes Sociales: Instagram, Facebook, Twitter y TikTok
- Formulario de Newsletter: Nombre y Email
>>>> tendrá al final un DIV como barra Copyright
*/
footer {
  margin: -215px 0 0 0;

  .padreGrid {
    max-width: $anchoGlobal;
    width: 96%;
    margin: 32px auto 0 auto;
    padding: 24px 40px 16px 40px;
    border-radius: 20px 20px 0 0;
    background-color:$color-gris-muyclaro;
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
    align-items: baseline; 

    div:nth-child(3) {
      padding-top: 0px; }
  
    div:nth-child(2) {
      padding: 0 32px; }
      
    h4 {
      font-size: 16px;
      color: $color-gris-medio !important;
      font-weight: 700;
      line-height: 1.5rem;
    }

    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 600;
      color: $color-gris-oscuro;
      font-family: 'Quicksand',sans-serif; 
      li {
        margin: 5px 0; 
        a {
          display: block;
          color: $color-gris-oscuro;
          background-color: $color-blanco;
          border-radius: 24px;
          margin: 0;
          padding: 8px 15px;
          transition: ease 0.3s all; 
          font-weight: 800;
          &:hover {
            color: $color-blanco;
            background: $color-primario; 
            i {
              color: $color-blanco; }
          }
          i {
            font-size: 16px;
            margin: 3px 0 ;
            color:$color-gris-muyoscuro;
            transition: ease 0.3s all; }
          span {
            margin-left: 15px; 
            font-size: 16px;
            
          }
        }
      
      }
    }
  
    form#suscribirmeNewsletter {

      input[type="text"] {
        display: block;
        font-size: 16px;
        color: $color-gris-oscuro;
        border-radius: 25px;
        margin: 10px 0;
        padding: 10px 15px;
        width: 95%;
        height: 40px;
        border: 1px solid $color-gris-claro; 
      }

      hr {
        background-color: $color-gris-medio;
        margin: 50px 0 -40px 0;
        text-align: left;
        width: 100%;
        height: 1px; 
      }

      button.btnReset, button.btnSubmit {
        color: $color-gris-oscuro;
        background-color: $color-blanco;
        border-radius: 24px;
        margin: 16px 8px;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        transition: 0.8s ease all; 
        font-weight: 700;
        font-size: 14px;
        float: right;
        border: 1px solid $color-gris-claro; 
      } 
      
      button.btnReset:hover,
      button.btnSubmit:hover {
      background-color:$color-gris-oscuro;
      color: $color-gris-muyclaro; }
      
    } 
    a.btnIrArriba {
      border-radius: 24px;
      padding: 5px 10px;
      margin: -40px 0 10px 0;
      background:$color-gris-oscuro;
      color: $color-gris-muyclaro;
      font-size: 14px;
      width: 100%;
      display: inline-flex;
      transition: .3s ease all; 
      
      i {
        font-size: 19px;
        margin-right: 15px; }

      &:hover {
        background: $color-primario;
        color: $color-blanco;
        content: "FLECHA"; }

    }
 
  }

  

  body.dark &{

    .padreGrid{
      background-color:$color-gris-muyoscuro;

      h4{
        color: $color-gris-claro !important;
      }
      
      ul li a{
        color: $color-gris-claro;
        background-color: $color-negro;
       
        i{
          color: $color-blanco;
        }

        &:hover{
          color: $color-negro;
          background: $color-secundario; 

          i{
            color: $color-negro;
          }
        }
      }

      form#suscribirmeNewsletter {

        input {
          color: $color-blanco;
          border: 1px solid $color-gris-medio; 
          background-color: $color-negro;
        }
  
        hr {
          background-color: $color-negro;
        }
  
        button.btnReset, button.btnSubmit {
          color: $color-gris-claro;
          background-color: $color-negro;
          border: 1px solid $color-gris-medio; 
        } 
        
        button.btnReset:hover,
        button.btnSubmit:hover {
        background-color:$color-gris-claro;
        color: $color-gris-muyoscuro; }
        
      } 

      
      a.btnIrArriba {
        background:$color-blanco;
        color: $color-gris-oscuro;
 
        &:hover {
          background: $color-primario;
          color: $color-blanco;
        }
  
      }

    }
  }


}

.bottomFooter {
  height: 60px;
  padding: 12px;
  text-align: center;
  width: 100%;
  color:$color-gris-muyclaro;
  background-color: $color-gris-oscuro;
  font-size: 11px; }

@media only screen and (max-width: 768px) {
  footer {
    margin: -50% 0 0 0; }
  footer .padreGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  footer .padreGrid div:nth-child(3) {
    padding-top: 50px; 
    ul{
      text-align: center;}
  }
  footer .padreGrid div:nth-child(2) {
    padding: 50px 0 0 0; }
  footer .padreGrid div:nth-child(1) ul{
    flex-direction: row;
    li a{
    display: inline-block;
    padding: 16px 24px;
    border-radius: 32px;
    i{
      font-size: 24px;}
    span {
    display: none;}
    }
  }


  form#suscribirmeNewsletter hr {
    width: 100%; } 

}

@media only screen and (max-width: 480px) {
  footer {
    margin: -500px 0 0 0; } 

	form#suscribirmeNewsletter button.btnReset, 
	form#suscribirmeNewsletter button.btnSubmit {
		width: auto;
	}
}



/*
Empiezan los estilos de la seccion
--- NOSOTROS ------ NOSOTROS ------ NOSOTROS ---
--- NOSOTROS ------ NOSOTROS ------ NOSOTROS ---
--- NOSOTROS ------ NOSOTROS ------ NOSOTROS ---
--- NOSOTROS ------ NOSOTROS ------ NOSOTROS ---

>>>> Tendrá un VIDEO de Youtube
>>>> 4 avatares de los Staff

*/

#nosotros{
  .videoNosotros {
    overflow: hidden;
    border-radius: 24px;
    box-shadow: $sombraLight; }

  .tituloStaff {
    border-radius: 24px;
    padding: 8px 15px;
    background-color: $color-gris-claro;
    color:$color-gris-muyoscuro;
    border: none;
    text-align: center;}
    
  .avataresStaff {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr; 

    div {
      text-align: center;
      padding: 20px; }

    h4 {
      font-size: 18px;
      font-weight: 600;
      color:$color-gris-oscuro;
      margin-bottom: 0; }
    
    h5 {
      font-size: 14px;
      font-weight: 600;
      color: $color-gris-medio;
      margin-bottom: 0; }

    img {
      max-width: 100%;
      height: auto;
      margin: 10px 0; 
    }
    
  }


  &.dark {

    h3{
      color: $color-secundario;
    }
    h4{
      color: $color-gris-muyclaro;
    }
    p{color: $color-blanco;}

    .tituloStaff{      
      background-color: $color-gris-muyoscuro;
      color:$color-gris-muyclaro;
    }

    .avataresStaff {
      h3{color: $color-primario;}
      h4{color: $color-secundario;}
      h5{color: $color-gris-muyclaro;}
    }

  }

}

.btnContacto {
  line-height: 1.25rem ;
  background-color: $color-blanco;
  padding: 16px;
  color: $color-secundario;
  text-align: center;
  border:2px solid $color-secundario;

  &:hover{
    color: $color-blanco;
    background-color: $color-secundario;
  }

  body.dark &{
    background-color: $color-gris-muyoscuro;
    color: $color-secundario;
    border:none;
    &:hover{
      color: $color-gris-muyoscuro;
      background-color: $color-secundario;
    }
  }

}  

  

/*
EMPIEZAN LOS ESTILOS DE LA PÁGINA "CONTACTO"
--- CONTACTO ------ CONTACTO ------ CONTACTO ---
--- CONTACTO ------ CONTACTO ------ CONTACTO ---
--- CONTACTO ------ CONTACTO ------ CONTACTO ---
- Formulario de Mensajes (Nombre, Apellido, Email, Celular, Mensaje)
- Además se linkearán las 4 Redes Sociales: Instagram, Facebook, Twitter y TikTok
- Email, Teléfono y Dirección con iframe de GoogleMap
*/


#contacto {

  ul#listaRedesContacto li a i {
    font-size: 30px;
    margin: 20px 20px;
    color: $color-gris-muyoscuro;
    transition: .3s ease all;
  }

  ul#listaRedesContacto li a:hover i {
    color: $color-primario; 
  }
  
  h3{
    color: $color-negro;
  }

  &.dark {

    h3{
      color: $color-blanco;
    }
    h4{
      color: $color-blanco;
    }
    h5{
      color: $color-blanco;
    }
    ul#listaRedesContacto li a i {
      color: $color-gris-muyclaro;
    }
    ul#listaRedesContacto li a:hover i {
      color: $color-secundario;
    }
  }
}

#contactoMapa iframe {
  min-width: 100%;
  min-height: 320px;
  padding: 0 0;
  border-radius: 24px;
  overflow: hidden; }

/*
ESTILOS de sección 
--- CREAR ALERTA ------ CREAR ALERTA ------ CREAR ALERTA ---
--- CREAR ALERTA ------ CREAR ALERTA ------ CREAR ALERTA ---
--- CREAR ALERTA ------ CREAR ALERTA ------ CREAR ALERTA ---
--- CREAR ALERTA ------ CREAR ALERTA ------ CREAR ALERTA ---
> Para la estructura general se usa Bootstrap.
> Para columnas internas de los INPUT se uso GRID.
*/

#crearAlerta {

  h3 {
    font-size: 21px;
    font-weight: 600; }

  h4 {
    color: $color-secundario;
    font-weight: bold; 
    span {
      color: $color-gris-oscuro;
      font-size: 16px; }
  }

  form#formCrearAlerta label.crearAlertaTitulo {
    font-family: 'Quicksand', sans-serif;
    color: $color-gris-muyoscuro;
    font-weight: 700; 
  }

  .wrapArchivosAgregados {
    background-color: $color-blanco;
    border-radius: 24px;
    padding: 10px;
    margin: 10px 0;
    color: $color-gris-muyoscuro;
    font-size: 16px;
    font-weight: 700; 
  }

  div.tipoAlerta {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 20% 36% 42%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: right; 
  }
  
  div.raza {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 1fr;
    align-items: center;
  
      div{
        justify-self: right;
      }
  }
  
  div.especie,
  div.sexo {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 20% 35% 35%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: stretch; 
    
    div{
      justify-self: right;
    }   
  }
  
  div.colores {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: right; 
  
      div{
        margin: 8px 24px 8px 8px;
        justify-self: left;
      }
  }
   
  label#coloresTitulo {
    display: block; 
  }

  &.dark{
    h3{
      color: $color-blanco;
    }
    h4{
      color: $color-primario;
      span{
        color: $color-gris-claro;
      }
    }
    form#formCrearAlerta label.crearAlertaTitulo {
      color: $color-gris-muyclaro;
    }
    .wrapArchivosAgregados {
      background-color: $color-gris-muyoscuro;
      color: $color-blanco;
    }
    form#formCrearAlerta label{
      color: $color-secundario !important;
    }
  }

}
 
table{width: 100%;}


